@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: rgba(67, 255, 34, 0.133);
}

.wrapper {
  max-width: 40%;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  padding: 20px 0;
}

form {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form:focus-within {
  background-color: #cfffcf;
}

input:focus-within {
  border: 3px solid #000000;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  width: 50%;
}

input[type="text"],
input[type="checkbox"],
input[type="radio"],
textarea {
  padding: 0 10px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #555;
}

button {
  margin: 0 auto;
  width: 50%;
  background-color: rgb(9, 249, 77);
  color: #000000;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special-instructions {
  display: flex;
  flex-direction: column;
}

.special-instructions__textarea {
  resize: vertical;
}

.toppings,
.sauce,
.special-instructions,
.size {
  margin-top: 20px;
}