/* Reset default browser styles */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: rgba(67, 255, 34, 0.133);
}

.wrapper {
  max-width: 40%;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  padding: 20px 0;
}

form {
  /* width: 10%; */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* max-width: 800px; */
}

label {
  /* display: block; */
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  width: 50%;
}
input[type="text"],
input[type="checkbox"],
input[type="radio"],
textarea {
  /* width: 10%; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

button {
  width: 100%;
  background-color: yellow;
  color: #000000;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}